body{
    background-color: rgb(201, 208, 214);
}
h1{
    text-align: center;
}
.table{
    
    align-items: center;
    margin: 150px 300px ;
}

.table table{
   text-align: center;
   color: rgb(10, 63, 131);
    

}

table,th, td{
    border: 1px solid black;
}